* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.van-nav-bar .van-nav-bar__arrow {
  color: #333;
}
